.tab-bar__view {
  height: 98px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #fff;
  .tab-bar__list {
    display: flex;
  }
  .tab-bar__item {
    flex: 1;
    // justify-content: center;
    align-items: center;
    .text {
      font-size: 24px;
    }
    .icon {
      height: 40px;
      width: 40px;
    }
  }
  .tab-bar__scan {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: red;
  }
}
