$whiteColor: #fff;
$whiteColor24: rgba(255, 255, 255, 0.24);
$whiteColor64: rgba(255, 255, 255, 0.64);
$whiteColor86: rgba(255, 255, 255, 0.86);
$whiteColor88: rgba(255, 255, 255, 0.88);

$blackColor: #000;
$blackColor10: rgba(0, 0, 0, 0.1);
$blackColor48: rgba(0, 0, 0, 0.48);
$blackColor64: rgba(0, 0, 0, 0.64);
$blackColor88: rgba(0, 0, 0, 0.88);
$blackColor96: rgba(0, 0, 0, 0.96);
$color51_51_51: rgba(51, 51, 51, 1);
$color245_76_43: rgba(245, 76, 43, 1);