@mixin fixed {
  position: fixed;
  z-index: 99;
  border-radius: 50%;
  width: 92px;
  height: 92px;
  bottom: 105px;
}
.home-view {
  display: flex;
  height: 100vh;
  flex-direction: column;
  .map-view {
    flex: 1;
    map {
      height: 100%;
      width: 100%;
    }
  }
  .other-view {
    height: 98px;
  }
  .gps-icon {
    @include fixed;
    left: 32px;
  }
  .station-list-icon {
    @include fixed;
    right: 32px;
  }
}
