.charging-ball {
  height: 420px;
  width: 420px;
  border-radius: 50%;
  margin: 0 auto;
  // background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.progress-ball {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  .progress-content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 270px;
    width: 270px;
    border-radius: 50%;
    box-sizing: border-box;
    background: #fff;
    left: 0;
    right: 0;
    top: 76px;
    z-index: 99;
    margin: 0 auto;
  }
  .soc {
    min-width: 100%;
    font-size: 32px;
    color: $blackColor88;
  }

  .value {
    min-width: 100%;
    font-size: 72px;
    color: $blackColor;
  }

  .full-time {
    min-width: 100%;
    font-size: 22px;
    color: $blackColor64;
  }
}
