.charging-ball {
  height: 420px;
  width: 420px;
  border-radius: 50%;
  margin: 0 auto;
  // background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-ball {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  .soc {
    min-width: 100%;
    font-size: 32px;
    color: $blackColor88;
  }

  .value {
    min-width: 100%;
    font-size: 72px;
    color: $blackColor;
  }

  .full-time {
    min-width: 100%;
    font-size: 22px;
    color: $blackColor64;
  }
}
