@import "./../../assets/style/border.scss";
.list-cell__view {
  .list-cell__item {
    padding: 0 32px;
    height: 96px;
    // line-height: 96px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    @include border-single($direction: bottom, $size: 1px, $color: rgba(220, 220, 220, 0.8), $position: relative);
    &:active {
      background-color: #f0f0f0;
    }
    .label {
      color: $blackColor88;
    }
    .value {
      color: $blackColor48;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: normal;
      text-align: right;
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }
    .arrow-icon {
      width: 12px;
      text-align: right;
      margin: 0 16px;
    }
  }
}
