.charging-realtime__view {
  // min-height: 100vh;
  // background: #4a7cd7;
  .charging-box {
    padding-bottom: 106px;
  }

  .charging-block {
    // height: 758px;
    background: #4787e5;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAU2CAMAAACIu5cKAAAAM1BMVEUza9FXnvdCgOE/fN02btM6ddhVm/U4ctVRlvFFhOQ9eNtHiOZPk+5NkOxTmPNLjepJi+lJs7RZAAAAr0lEQVRIx+XKCw6DIBBF0fEDCKK4/9V24phiLShQE0dLbk4eBKiqhyfPUEqoJA6UrndqTJEa5+uhjOuwbu0TshYsjrf2JK9qCDhgtsCrcwHdAM7hiMumaWJQD33UuZ0PfURuadDf+qvfQbXmVY3WWWZ+DsivJmpTaNo3qqZx+MIxgxloDI6ohvaOnBIbRb5+LI/iw3umFpUApXCUyrkWWpLGj7YrOQflwjw2QoL/d14H3Us5ODp6MwAAAABJRU5ErkJggg==);
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain;
    padding-top: 62px;
    box-sizing: border-box;
  }

  .charging-btn {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 106px;
    line-height: 106px;
    background-color: #ffffff;
    box-shadow: 0px -8px 20px 0px rgba(0, 0, 0, 0.06);
    width: 100%;
    font-size: 34px;
    color: #2565de;
    border-radius: 0;

    &:after {
      border: none;
    }
  }
}
