@import "./../../assets/style/border.scss";
.mine-view {
  border-top: 16px solid #f2f2f2;
  .avatar {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    overflow: hidden;
    display: block;
  }
}
